<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find shovel_rotate)/urdf/shovel_rotate.urdf" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="urdf_spawner"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find shovel_rotate)/urdf/shovel_rotate.urdf -urdf -model shovel_rotate"
    respawn="false"
    output="screen" />
</launch>

